*,
*::before,
*::after { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #202329;
}

body {
  color: #999999;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media(min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
  
@media(min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  width: 400px;
  height: 600px;
  background-color: #333333;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 300px;
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.card__image:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media(min-width: 40rem) {
  .card__image:before {
    padding-top: 66.6%;
  }
}


.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: #696969;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__list {
  margin-top: 30px;
}

.card__status {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.orange {
  font-size: 14px;
  color: #f87e1f;
}

.card__status:after {
  content: '';
  width: 100%;
  height: 1px;
  background: gray;
  margin-top: 5px;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}